**/.out/*
**/.temp/*
**/obj/*
**/packages/*
**/.vs/*
**/_ReSharper*/*
.idea/
*.suo
*.*proj.user
*.DotSettings.user
*.Publish.xml
*.wbk
~$*.doc
*.pfx
StyleCop.Cache
Generated.*
.artifacts/
